<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DeckedDuties</title>
    <link rel="stylesheet" href="static/main/css/stack.css">
    <link rel="stylesheet" href="static/main/css/toolbar.css">
    <link rel="stylesheet" href="static/main/css/nav.css">
    <link rel="stylesheet" href="static/main/css/cards.css">
    <link rel="stylesheet" href="static/main/css/add_duties.css">
    <style> body {margin: 0; padding: 0; background-color: rgb(7, 64, 16);} </style>
</head>

<body>
    <script src="static/main/js/scripts.js"></script>
    <!-- "GAMBLE ON YOURSELF" -->
    <!-- Navigation Section -->
    <div class="toolbar">
        <div class="card-workout" onclick="copyCardToNav(this)">Workout</div>
        <div class="card-study" onclick="copyCardToNav(this)">Study</div>
        <div class="card-guitar" onclick="copyCardToNav(this)">Guitar</div>
        <div class="card-duck" onclick="copyCardToNav(this)">Duck</div>

        <div class="add-card-button" onclick="addCardToToolbar()">+</div>
    </div>

    <nav>

    </nav>

</body>
</html>
