<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/main/css/stack.css">
    <link rel="stylesheet" href="static/main/css/toolbar.css">
    <link rel="stylesheet" href="static/main/css/nav.css">
    <link rel="stylesheet" href="static/main/css/cards.css"
    <title>Some Title</title>
</head>
<body>
    <h1>Some Title</h1>

    <!-- Navigation Section -->
    <div class="toolbar">
        <div class="card-workout" onclick="copyCardToNav(this)">Workout</div>
        <div class="card-study" onclick="copyCardToNav(this)">Study</div>
        <div class="card-guitar" onclick="copyCardToNav(this)">Guitar</div>
        <div class="card-duck" onclick="copyCardToNav(this)">Duck</div>

        <div class="add-card-button" onclick="addCardToToolbar()">+</div>
        <script>
            function addCardToToolbar() {
                // Create a new div element for the rectangle
                var newCard = document.createElement("div");
                newCard.className = "rectangle";
                newCard.onclick = function() {
                    copyCardToNav(this);
                };

                // Get the toolbar
                var toolbar = document.querySelector('.toolbar');

                // HERE
                toolbar.insertBefore(newCard, toolbar.lastElementChild);
            }

            function copyCardToNav(card) {
                var nav = document.querySelector('nav');
                var copiedCard = card.cloneNode(true); // Clone the card, including its children and attributes
                nav.appendChild(copiedCard);
            }
        </script>
    </div>

    <hr>

    <nav>

    </nav>

</body>
</html>
