.card-column {
    height: 100vh;
    position: relative;
    align-items: center;
}

.duty {
    width: 200px;
    height: 75px;
    background-color: lightgray;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    border: red;
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.duty-textbox {
    width: 100px;
    height: 50px;
    display: flex;
    text-align: center;
    position: relative;
    left: 0px;
}