/* Duck Task */
.card-duck {
    user-select: none;
    content: 'Duck Hunt';
    top: 0;
    left: 0;
    width: 200px;
    height: 110px;
    background-color: #ffffff; 
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    flex: 0 0 auto;
    cursor: pointer;
    position: relative;
}

.top-left-text {
    position: absolute;
    top: 0;
    left: 65px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    /* padding: 5px; */
    z-index: 3;
}

.bottom-right-text {
    position: absolute;
    bottom: 0;
    right: 65px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 5px;
    z-index: 3;
    transform: rotate(180deg);
}

.card-duck::after {
    content: '';
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 20px;
    z-index: 3;
    bottom: 0;
    right: 10px;
    width: 50px;
    height: 60px;
    transform: rotate(180deg);
    background-image: url('images/club.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: right bottom 8px;
    opacity: 1;
}

.card-duck p{
    font-size: 20px;
    z-index: 3; 
}

.card-duck::before {
    content: ''; 
    top: 3;
    left: 3;
    width: 200px;
    height: 110px;
    z-index: 1; 
    opacity: 0.3;
    background-image: url('images/duck.png');
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
    
}

/* Guitar Task */
.card-guitar {
    user-select: none;
    width: 200px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex: 0 0 auto;
    cursor: pointer;
    position: relative;
}
.card-guitar::after {
    content: '';
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 20px;
    z-index: 3;
    bottom: 0;
    right: 10px;
    width: 50px;
    height: 60px;
    transform: rotate(180deg);
    background-image: url('images/diamond.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: right bottom 8px;
    opacity: 1;
}
.card-guitar p{
    font-size: 25px;
    z-index: 3; 
    position: relative;
}

.card-guitar::before {
    content: ''; 
    top: 3;
    left: 3;
    width: 200px;
    height: 110px;
    z-index: 1; 
    opacity: 0.3;
    background-image: url('images/Guitar.png');
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;
    
}



/* Study Task */
.card-study {
    user-select: none;
    width: 200px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    flex: 0 0 auto;
    cursor: pointer;
    position: relative;
}

.card-study p{
    font-size: 25px;
    z-index: 3;
}

.card-study::before {
    content: ''; 
    top: 3;
    left: 3;
    width: 200px;
    height: 110px;
    z-index: 1; 
    opacity: 0.3;
    background-image: url('images/book.png');
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center;

}

.card-study::after {
     /* padding: 5px; */
     content: '';
     position: absolute;
     color: rgb(0, 0, 0);
     font-size: 20px;
     z-index: 3;
     bottom: 0;
     right: 10px;
     width: 50px;
     height: 60px;
     transform: rotate(180deg);
     background-image: url('images/spade.png');
     background-size: 50px;
     background-repeat: no-repeat;
     background-position: right bottom 10px;
     opacity: 1;
}



/* Workout Task */
.card-workout {
    user-select: none;
    width: 200px;
    height: 110px;
    background-color: #ffffff; 
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    flex: 0 0 auto;
    cursor: pointer;
    position: relative;
}

.card-workout p{
    font-size: 25px;
    z-index: 3; 
}


.card-workout::before {
    content: '';
    padding: 20px;
    top: 0;
    left: 0;
    width: 200px;
    height: 110px;
    z-index: 1; 
    opacity: 0.7;
    background-image: url('images/Workout1.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    
}

.card-workout::after {
    /* padding: 5px; */
    content: '';
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 20px;
    z-index: 3;
    bottom: 0;
    right: 10px;
    width: 50px;
    height: 60px;
    transform: rotate(180deg);
    background-image: url('images/heart.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: right bottom 10px;
    opacity: 1;
}

.heart2 {
    user-select: none;
    position: absolute;
    width: 50px;
    left: 10px;
    top: 0px;
    opacity: 1;

}
.club2 {
    user-select: none;
    position: absolute;
    width: 50px;
    left: 10px;
    top: 0px;
    opacity: 1;

}
.spade2 {
    user-select: none;
    position: absolute;
    width: 50px;
    left: 10px;
    top: 0px;
    opacity: 1;

}
.diamond2 {
    user-select: none;
    position: absolute;
    width: 50px;
    left: 10px;
    top: 0px;
    opacity: 1;

}
