body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.card {
    width: 250px;
    height: 170px;
    background-color: #4CAF50; /* Vibrant green color */
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card p{
    font-size: 60px;
    z-index: 1;
}

.card::before {
    content: url('your-icon.png'); /* Replace 'your-icon.png' with the path to the image*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; 
    opacity: 0.5;
}
