.rectangle {
    flex: 0 0 auto;
    width: 200px;
    height: 150px;
    background-color: #3498db;
    border-radius: 15px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}