.rectangle {
    width: 200px;
    height: 110px;
    background-color: #ffffff; 
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 2; 
    flex: 0 0 auto;
    cursor: pointer;
    position: relative;
}

.rectangle p{
    font-size: 25px;
    z-index: 3; 
}


.rectangle::before {
    content: '';
    padding: 20px;
    top: 5px;
    left: 10px;
    width: 50px;
    z-index: 1; 
    background-image: url('images/heart.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position:left;
    position: absolute;
    opacity: 1;
    
}

.rectangle::after {
    /* padding: 5px; */
    content: '';
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 20px;
    z-index: 3;
    bottom: 0;
    right: 10px;
    width: 50px;
    height: 60px;
    transform: rotate(180deg);
    background-image: url('images/heart.png');
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: right bottom 10px;
    opacity: 1;
}

.heart2 {
    position: absolute;
    width: 50px;
    left: 10px;
    top: 0px;
    opacity: 1;

}
