/* Style the box */
.stepper {
    width: 100px;
    height: 50px;
    display: flex;
    text-align: center;
    position: relative;
}

/* Style the button */
.step {
    margin-right: 20px; /* Add 15px space between the default value and the button */
    height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: red;
    position: absolute;
}

/* Style the counter paragraph */
#counter {
    margin-right: 15px; /* Add 10px margin to the right of the counter */
}

/* Style the division symbol */
.division-symbol {
    font-size: 16px;
    margin-left: 5px; /* Adjust the space between the division symbol and the default value */
}

/* Style the editable number */
.editable-number {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px; /* Add 15px space between the default value and the button */
    white-space: nowrap; /* Prevent line breaks */
    max-height: 20px; /* Set a fixed height */
    overflow: hidden; /* Hide overflow content */
}