body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    top: 150px;
}

.card {
    width: 250px;
    height: 170px;
    background-color: #4CAF50; /* Vibrant green color */
    border-radius: 15px;
    margin: 0 80px; 
    padding: 20px;
    top: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    top: 150px;
}


.card p{
    font-size: 35px;
    position: relative;
    top: 50px;
    z-index: 1;
    display: flex;

}

